.post-content code {
    font-family: Consolas, Monaco, monospace;
}

.post-content > table thead {
    background: #ededed;
}

.post-content > table thead tr th {
    font-size: large;
}

.post-content > table th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.post-content > table th, .post-content > table td {
    padding: .3rem 1rem;
    border: 1px solid #e8e8e8;
}

@media screen and (min-width: 1500px) { 
    .toc {
        position: fixed;
        top: 15%;
        left: calc(var(--main-width) / 2 + 50% + 50px);
        max-width: fit-content;
        overflow : scroll;
        max-height: calc(100vh * 0.7);
    }
}