.post-content code {
    font-family: Consolas, Monaco, monospace;
    /* font-size: .83em; */
    color: #f92851;
    background: var(--post-code-bg);
}

.post-content blockquote {
    padding: 14px;
    /* border: dotted; */
    background: var(--blockquote);
    border-inline-start: 5px solid var(--primary);
}

/* TOC索引目录字体不能为粗 */
.toc details div ul li a strong {
    font-weight: normal;
}

.post-content > table thead {
    background: #ededed;
}

.post-content > table thead tr th {
    font-size: large;
}

.post-content > table th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.post-content > table th, .post-content > table td {
    padding: .3rem 1rem;
    border: 1px solid #e8e8e8;
}

@media screen and (min-width: 1500px) { 
    .toc {
        position: fixed;
        top: 15%;
        left: calc(var(--main-width) / 2 + 50% + 50px);
        max-width: fit-content;
        overflow : scroll;
        max-height: calc(100vh * 0.7);
    }
}